---
layout: page-layout.njk
title: 'About the 2016 Event'
meta_title: 'Vermont Code Camp 8 :: 2016'
meta_description: The 8th annual Vermont Code Camp in Burlington, VT – bringing together technology community members, students and professionals from around Vermont and beyond.
---


<article id="attend" class="anchor">
    <header>
        <img src="/media/attendee-registration-480x320.jpg" width="480" height="320" alt="Attendee Registration" />
    </header>
    <article>

        <div class="meta">
            <abbr title="Saturday, September 17, 2016, 8:30am - 6:00pm" class="date-time">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span> 
                <span class="date">17</span> 
                <span class="time">8:30AM-6:00PM</span>
            </abbr> 
            <abbr title="Kalkin Hall, The University of Vermont, 55 Colchester Avenue, Burlington, VT" class="location">
                <span class="building">Kalkin Hall</span> 
                <span class="place">UVM Campus</span>
                <span class="address">55 Colchester Ave</span> 
                <span class="city">Burlington, VT</span>
            </abbr>
        </div>


        <h1>{{ title }}</h1>
        <p class="description"><strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. <a href="/schedule" class="highlight">View the 2016 schedule,</a> with sessions on a variety of software topics including programming, databases, web, business and more.</p>
        

        <p><strong><a href="http://www.meetup.com/VTCode/events/230748516/">Event Page on Meetup</a></strong></p>
        <p><small><a href="/conduct">Code of Conduct</a> | <a href="/diversity">Diversity Statement</a></small></p>
    </article>

            <article class="sponsors">
            <h1>Premier Sponsors</h1>
            <ul class="sponsors premier-level">
                <li><a href="http://www.uvm.edu/business/"><span class="logo the-university-of-vermont-grossman-school-of-business">The University of Vermont Grossman School of Business</span></a></li>
                <li><a href="http://www.burlingtontelecom.net/"><span class="logo burlington-telecom">Burlington Telecom</span></a></li>
                <li><a href="http://www.dealer.com/" class="logo dealer-dot-com">Dealer.com</a></li>
                <li><a href="https://www.uvmhealth.org/medcenter/Pages/default.aspx?utm_source=networkhomepage&amp;utm_medium=greenbox&amp;utm_campaign=medcenter" class="logo the-university-of-vermont-medical-center">The University of Vermont Medical Center</a></li>
                <li><a href="http://www.mywebgrocer.com/" class="logo mywebgrocer-primary-grey-background">MyWebGrocer</a></li>
                <li class="static-logo-wrapper"><a href="http://www.ibm.com/">IBM</a></li>
            </ul>
            <h1>Platinum Sponsor</h1>
            <ul class="sponsors">
                <li><a href="http://galenhealthcare.com/" class="logo galen-healthcare-solutions">Galen Healthcare Solutions</a></li>
            </ul>
            <h1>Gold Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.competitive.com/" class="logo competitive-computing">Competitive Computing</a></li>
                <li><a href="http://www.allscripts.com/" class="logo allscripts">Allscripts</a></li>
            </ul>
            <h1>Silver Sponsor</h1>
            <ul class="sponsors">
                <li><a href="http://www.logicsupply.com/"><span class="logo logic-supply">Logic Supply</span></a></li>
            </ul>
            <h1>Swag, Giveaways &amp; More</h1>
            <ul class="sponsors">
                <li><a href="https://www.jetbrains.com/"><span class="logo jetbrains">JetBrains</span></a></li>
                <li><a href="http://www.oreilly.com/pub/cpc/797" class="logo oreilly-media">O'Reilly Media</a></li>
                <li><a href="http://www.tylertech.com/" class="logo tyler-technologies">Tyler Technologies</a></li>
                <li><a href="http://www.techsmith.com/" class="logo techsmith">TechSmith</a></li>
                <li><a href="http://pluralsight.com/" class="logo pluralsight">Pluralsight</a></li>
                <li><a href="http://www.wiley.com/" class="logo wiley">Wiley</a></li>
            </ul>
            <h1>Community Partner</h1>
            <ul class="sponsors">
                <li><a href="http://www.btvignite.com/"><span class="logo btv-ignite">BTV Ignite</span></a></li>
            </ul>
            <p class="legal-statement">IBM, the IBM logo and ibm.com are trademarks of the International Business Machines Corp., registered in many jurisdictions worldwide.</p>
        </article>
</article>
